@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";

* {
  margin: 0;
  padding: 0;
}

/* body{
  display: flex;
  justify-content: center;
  

} */

.container1 {
  background-color: white;
  max-width: 500px;
}

.headerjg {
  background-color: #3273dc;
  
}

.bg-jg-purple{
  background-color: #cfe2ff;
}

.filabg {
  color: #dc3545;
  border-bottom: solid;
}



.borde-div {
  border: solid 0.5px;
  border-radius: 5px;
}

.div-form {
  width: 350px;
  margin: 10px;
}